.metatile-modal {
  position: absolute;
  top: 0;
  width: 460px;
  height: 480px;
  background: rgba(#1b1c1d, 0.5);
  border-radius: 10px;

  .modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-weight: bold;
  }

  .modal-content {
  }
}
